#footer {
    background-color: rgb(77, 36, 36);
    height: 15vh;
    box-shadow: 10px 10px 5px -12px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.con {
    color: white;

}